<style type="text/css">
header, section, footer, aside, nav, article, figure, figcaption {
    display: block;
}
body {
    color: wheat;
    background-color: lightcoral;
    background-image: url("../layout/image/darkwood.jpg");
    background-position: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.4em;
    margin: 0px;
}
.wrapper {
    width: 940px;
    margin: 20px auto 20px auto;
    border: 2px solid rgb(20, 10, 2);
    background-color:black;
}
header{
    height: 160px;
    background-image: url("../layout/image/header.jpg");
}
h1{
    text-indent: -9999px;
    width: 940px;
    height: 130px;
    margin: 0px;
}
nav, footer{
    clear: both;
    color:rgb(0, 255, 170);
    background-color: chocolate;
    height: 30px;
}
nav ul{
    margin: 0px;
    padding: 5px 0px 5px 30px;
}
nav li{
    display: inline;
    margin-right: 40px;
}
nav li a{
    color: honeydew;
}
nav li a:hover , nav li a.current {
    color: lightgreen;
}
section.courses {
    float: left;
    width: 659px;
    border-right: 1px solid coral;
}
article {
    clear: both;
    overflow: auto;
    width: 100%;   
}
hgroup{
    margin-top: 40px;
}
figure{
    float: left;
    width: 290px;
    height: 220px;
    padding: 5px;
    margin: 20px;
    border: 1px solid rgba(236, 82, 10, 0.753);
}
figcaption {
    font-size: 90%;
    text-align: left;
}
aside {
    width: 230px;
    float: left;
    padding: 0px 0px 0px 20px;
}
aside section a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid khaki;
}
aside section a:hover {
    color: orange;
    background-color: brown;
}
a{
    color: darkgray;
    text-decoration: none;
}
h1 , h2 ,h3 {
    font-weight: normal;
}
h2 {
    margin: 10px 0px 5px 0px;
    padding: 0px;
}
h3 {
    margin: 0px 0px 10px 0px;
    color: lightskyblue;
}
aside h2 {
    padding: 30px 0px 10px 0px;
    color: tomato;
}
footer{
    font-size: 80%;
    padding: 7px 0px 0px 20px;
}
</style>