body{
    background-color: #1179e0;
    background-image: url(Logo.jpg);
    width: 1000px;
    background-position: center top;
    background-repeat: no-repeat;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.4em;
    margin: 0px;
}
.choose{
    width: 940px;
    margin: 20px auto 20px auto;
    background-color: #ffffcc;
    margin-top: 120px;
    margin-left: 200px;
}
nav ul{
    margin: 0px;
    padding: 5px 0px 5px 30px;
}
nav li{
    display: inline;
    margin-right: 40px;
}
nav {
    background-color: #003399;}

h1{color: #CC3300;
 margin-left:300px ;
 float: inline-start;
 
}
img{
    margin-right: 30px;
}
hgroup{
    margin-top: -170px;
}
p{
    margin-left: 300px;
    margin-top: -20px;
}
h4 {
    margin-left: 300px;
}
.abc {
    background-color: #003399;
    margin: 0px;
    padding: 10px;
}