* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-position: top center;
    text-align: center;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
}
.abc{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}