.tab-list {
    margin: 0;
    padding: 0;
}
.tab-list li {
    display: inline-block;
    list-style-type: none;
    background-color: rgb(15, 1, 1);
    border-bottom: 3px solid lightslategray;
    font-family: 'Jacques Fancois', serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.tab-list li a{
    color: seagreen;
    display: block;
    padding: 3px 10px 3px 10px;
}
.tab-list li.active, .tab-list li a:hover{
    color: steelblue;
    background-color: yellowgreen;
}
.tab-panel {
    display: none;
    background-color: snow;
    color: rgb(16, 20, 8);
    min-height: 150px;
    overflow: auto;
}
.tab-panel.active {
    display: block;
}
.tab-panel p 
{
    margin: 20px;
}